{% extends 'bootstrap/base.html' %}
<!-- Navbar block  -->
{% import 'bootstrap/wtf.html' as wtf%}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

  <!--Importing the simple mde css and js files  -->
  {%block styles%}
   {{ super() }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

<script src="{{url_for('static',filename='js/jquery.bpopup.min.js')}}"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  {{ simplemde.css}}
  {{ simplemde.js }}

{% endblock %}
