{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf%}


{% block content %}
<!-- <img src="./static/images/images.jpeg"> -->
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"></link>

{% endblock %}

<div class="container-fluid">
  <div class="row">

    <div class="col-md-4">
          <h4 style="color:#133bef;">In life you only have 60 seconds to impress someone. 1 minute to make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?
            Below are categories please fill in the description to start on your minute pitch journey.<br />
            <h3><u>instructions</u></h3>
              <ol style="color:#133bef;">
            <li>You will enter the name of your category and any description of your choice</li>
            <li>you will either sign in or register to start the journey</li>
            <li>you will insert a pitch of your category and then add comments</li>
            <li>You can always review your category</li>
            <li>After you type in your pitch please click on it to assign it a comment</li>
          </ol>
          </h4> <br />
          <img src="./static/images/images.jpeg">
      </div>

    <div class="col-md-4">
      <h3>please sign add a category of your choice and your description</h3>
          {{wtf.quick_form(cat_form)}}
          <br />
            <img src="./static/images/guitar.png" class='img-responsive'>
      </div>

<div class="col-md-4">
  <ul style="align:left;">
    <h3>categories</h3>
    <hr />
    {{ macro.displayCategoryList(categories) }}
    <hr />
  </ul>
</div>


  </div>
  </div>


{% endblock %}









</body>
